@page "/interpreter"
 
<h1>Interpreter</h1>

<div class="row" style="height: 600px;">
	<div class="col-6 h-100">
		<textarea class="form-control h-100" @bind="_markdownCode" @bind:event="oninput"></textarea>
	</div>
	<div class="col-6 h-100">
		@((MarkupString)@Markdig.Markdown.ToHtml(_markdownCode))
	</div>
</div>

@code {
	string _markdownCode = string.Empty;

}
